
<div class="topnav">
    <h1>GIF Generator</h1>
    <a class="active" href="/">Home</a>
    <a href="/About">About Us</a>
  </div>

<h2 style="text-align:center">Our Team</h2>
<div class="row">
  <div class="column">
    <div class="card">
      <img src="https://media.licdn.com/dms/image/D5603AQEBl35fG3Ym1Q/profile-displayphoto-shrink_400_400/0/1688249311940?e=1700092800&v=beta&t=ReSSP-jj7P4neJH7iuoumQLOVxZ71y8krdoxkmkAAeM" alt="Sam" style="width:100%">
      <div class="container">
        <h2>Sam</h2>
        <p>Third year Math/Econ Major. Ness main.</p>
        <p>sjwalsh@ucsc.edu</p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img src="https://media.licdn.com/dms/image/D5603AQFAdePAoUWpFA/profile-displayphoto-shrink_400_400/0/1692822030017?e=1700092800&v=beta&t=OXhNBXpidegOUqjLFzIP2XzzwRSbzaK2pY9AI2N_PU0" alt="Cal" style="width:100%">
      <div class="container">
        <h2>Cal</h2>
        <p>Third year CS Major. Diddy Kong main.</p>
        <p>cajowils@ucsc.edu</p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img src="https://media.licdn.com/dms/image/C4D03AQGBeKJIlf62MQ/profile-displayphoto-shrink_400_400/0/1609400992662?e=1700092800&v=beta&t=f2qZNPDEa2aje-db7IOn0oXngNuv1Q9Bqb3cbQR58hs" alt="Brandon" style="width:100%">
      <div class="container">
        <h2>Brandon</h2>
        <p>Third year CS Major. Steve main.</p>
        <p>bgluu@ucsc.edu</p>
      </div>
    </div>
  </div>
</div>

<style>
    .topnav {
  background-color: #333;
  overflow: hidden;
  margin-left: -10px;
  margin-right: -10px;
  margin-top: -10px;
  margin-bottom:5px;
  text-align:center;
}

/* Style the links inside the navigation bar */
.topnav a {
  color: #f2f2f2;
  font-family: Comic Sans MS;
  padding: 8px 13px;
  text-decoration: none;
  font-size: 17px;
  text-align:center;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}
    h1{
        font-family: Comic Sans MS;
        color: white;
        text-align: center;
        margin: auto;
        margin-left: auto;
        margin-right: auto;
        padding-bottom:5px;
    }
    body {background-color: grey;}
    h2 {
        font-family: Comic Sans MS;
        color: white;
        text-align: center;
        margin: auto;
        margin-left: auto;
        margin-right: auto;
    }
    p {
        font-family: Comic Sans MS;
        color: white;
        text-align: center;
        margin: 5px;
    }
    body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.column {
  float: left;
  width: 33.3%;
  margin-bottom: 16px;
  padding: 0 8px;
}

.card {
  box-shadow: 0 10px 15px 0 rgba(0, 0, 0, 0.2);
  margin: 8px;
}

.about-section {
  padding: 50px;
  text-align: center;
  background-color: #3d3d3d;
  color: white;
}

.container {
  padding: 0 16px;
}

.container::after, .row::after {
  content: "";
  clear: both;
  display: table;
}

.title {
  color: grey;
}

.button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
}

.button:hover {
  background-color: #555;
}

@media screen and (max-width: 650px) {
  .column {
    width: 100%;
    display: block;
  }
}
</style>